<div class="form">
<form method="post" id="{{_form}}">

<p>
<label><input type="checkbox" name="moderation" value="yes"{% if moderation %} checked{% end %} /> {"Enable comment moderation"}</label>
</p>

<p>{"Moderator's email address"}:<br />
<input type="text" name="moderator_email" size="40" value="{{ moderator_email|quotes }}" />
<span class="notice" id="moderator_email-notice">{"Please enter a valid email address."}</span></p>

<p>
	<input type="submit" value="{"Save Settings"}" />
	&nbsp;
	<a href="/comments/admin" onclick="return confirm ('{"Are you sure you want to cancel and lose any changes?"}')">{"Cancel"}</a>
</p>

</form>
</div>